*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font: 18px 'FreeSans', sans-serif;
}

h1,
h2,
h3 {
  color: #111;
  margin: 1em 0 .35em 0;
  padding-bottom: .35em;
}

h1 {
  border-bottom: 1px solid #ccc;
}

ul,
ol {
  list-style-position: inside;
  margin: 1.5em 0;
}

img {
  height: auto;
  max-width: 100%;
}

a {
  color: #f92672;
  text-decoration: none;
}

.main {
  margin: 0 auto;
  max-width: 45em;
  padding: 2em 1em;
}

/* Features */

.no-list {
  list-style: none;
}
