/* framework */

.hide {
  display: none;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font: 18px 'FreeSans', sans-serif;
}

h1,
h2,
h3 {
  color: #111;
  margin: 1em 0 .35em 0;
  padding-bottom: .35em;
  position: relative;
}

/*h1:before,
h2:before,
h3:before {
  content: '\00a7';
  cursor: pointer;
  display: inline-block;
  right: 100%;
  opacity: 0;
  padding-right: 5px;
  position: absolute;
  top: -2.5px;
}

h1:hover:before,
h2:hover:before,
h3:hover:before {
  opacity: 1;
}*/

h1 {
  border-bottom: 1px solid #ccc;
}

ul,
ol {
  list-style-position: inside;
  margin: 1.5em 0;
}

img {
  height: auto;
  max-width: 100%;
}

a {
  color: #f92672;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

#header,
#descricao,
#uso,
#comportamento {
  margin: 30px auto;
  max-width: 45em;
  /*padding: 2em 1em;*/
}

#modulo {
  box-shadow: inset 5px 5px 0 #c00;
}

#modulo h1 {
  display: none;
}

.global.main pre,
.global.main code {
  font-size: .9em;
  white-space: pre-wrap;
}

.global.main p code {
  background-color: #eee;
  border-radius: 3px;
  font-style: italic;
  padding: .1em .5em;
}

.global.main pre code {
  border-radius: 10px;
  padding: 1em 2em;
}

.global.footer {
  background-color: #23241f;
  padding: 2em;
  text-align: center;
}

.global.footer h1 {
  border-bottom: 0;
  margin: 0;
  padding: 0;
}

.global.footer h1:before {
  content: '';
  display: none;
}

.global.footer h1 a {
  text-decoration: none;
}
