*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font: 18px 'FreeSans', sans-serif;
}

h1,
h2,
h3 {
  color: #111;
  margin: 1em 0 .35em 0;
  padding-bottom: .35em;
  position: relative;
}

/*h1:before,
h2:before,
h3:before {
  content: '\00a7';
  cursor: pointer;
  display: inline-block;
  right: 100%;
  opacity: 0;
  padding-right: 5px;
  position: absolute;
  top: -2.5px;
}

h1:hover:before,
h2:hover:before,
h3:hover:before {
  opacity: 1;
}*/

h1 {
  border-bottom: 1px solid #ccc;
}

p {
  margin: .5em 0 1em 0;
}

ul,
ol {
  list-style-position: inside;
  margin: .5em 0;
}

img {
  height: auto;
  max-width: 100%;
}

a {
  color: #f92672;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.main {
  margin: 0 auto;
  max-width: 45em;
  padding: 2em 1em;
}

.main dl dt {
  color: #23241f;
  font-weight: bold;
}

.main dl dd {
  font-size: .9em;
  margin-bottom: 1em;
  margin-left: 30px;
}

/* Features */

.no-list {
  list-style: none;
}
